
<div class="panel panel-table">
    <div *ngIf="useHeader" class="panel-heading">
      <h3 class="panel-title">Companies</h3>
    </div> 
    
    <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped custom-table m-b-0">
        <thead>
          <tr>
            <th style="min-width:200px;">Name</th>
            <th>Website</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody *ngIf="companies">
          <tr  *ngFor="let company of companies"  >
            <td style="min-width:200px;">
              <a href="#" class="avatar"> <img src="{{ company.image }}" alt=""></a>
              <h2>
                  <a href="{{company.website}}">{{company.name}}</a>
              </h2>       
            </td>
            <td><a href="{{company.website}}">{{company.website}}</a></td>
            <td>{{company.email}}</td>         
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>